<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
        <title>Subscribe</title>
    </head>
    <body>
        <div class="subscribe">
            <form method="POST" action="/sendemail">
                <label for="subscribeButton">Sign up for our daily insider</label>
                <input id="subscribeButton" type="email" placeholder="Enter your email" name="email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </body>
</html>